p {
    font-size: 8.5vw;
    font-family: Helvetica;
    color: #33ccff;
}

h1 {
    font-size: 5.5vw;
    font-family: Helvetica;
}

button {
    background-color: #33ccff;
    border: none;
    font-weight: bold;
    font-family: Helvetica;
    color: white;
    font-size: 50px;
    text-align: center;
    display: inline-block;
}

body {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 55px;
    margin-top: 55px;
}